/*Пример шрифта Open Sans*/
/*https://www.fontsquirrel.com/fonts/open-sans*/



@font-face {
    font-family: 'open_sansbold';
    src: url('opensansbold-webfont.eot');
    src: url('opensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansbold-webfont.woff2') format('woff2'),
         url('opensansbold-webfont.woff') format('woff'),
         url('opensansbold-webfont.ttf') format('truetype'),
         url('opensansbold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('opensansbolditalic-webfont.eot');
    src: url('opensansbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansbolditalic-webfont.woff2') format('woff2'),
         url('opensansbolditalic-webfont.woff') format('woff'),
         url('opensansbolditalic-webfont.ttf') format('truetype'),
         url('opensansbolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_extraboldregular';
    src: url('opensansextrabold-webfont.eot');
    src: url('opensansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansextrabold-webfont.woff2') format('woff2'),
         url('opensansextrabold-webfont.woff') format('woff'),
         url('opensansextrabold-webfont.ttf') format('truetype'),
         url('opensansextrabold-webfont.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_extrabolditalic';
    src: url('opensansextrabolditalic-webfont.eot');
    src: url('opensansextrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansextrabolditalic-webfont.woff2') format('woff2'),
         url('opensansextrabolditalic-webfont.woff') format('woff'),
         url('opensansextrabolditalic-webfont.ttf') format('truetype'),
         url('opensansextrabolditalic-webfont.svg#open_sans_extrabolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('opensansitalic-webfont.eot');
    src: url('opensansitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansitalic-webfont.woff2') format('woff2'),
         url('opensansitalic-webfont.woff') format('woff'),
         url('opensansitalic-webfont.ttf') format('truetype'),
         url('opensansitalic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_lightregular';
    src: url('opensanslight-webfont.eot');
    src: url('opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensanslight-webfont.woff2') format('woff2'),
         url('opensanslight-webfont.woff') format('woff'),
         url('opensanslight-webfont.ttf') format('truetype'),
         url('opensanslight-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_lightitalic';
    src: url('opensanslightitalic-webfont.eot');
    src: url('opensanslightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensanslightitalic-webfont.woff2') format('woff2'),
         url('opensanslightitalic-webfont.woff') format('woff'),
         url('opensanslightitalic-webfont.ttf') format('truetype'),
         url('opensanslightitalic-webfont.svg#open_sans_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensansregular-webfont.eot');
    src: url('opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansregular-webfont.woff2') format('woff2'),
         url('opensansregular-webfont.woff') format('woff'),
         url('opensansregular-webfont.ttf') format('truetype'),
         url('opensansregular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensansregularitalic-webfont.eot');
    src: url('opensansregularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensansregularitalic-webfont.woff2') format('woff2'),
         url('opensansregularitalic-webfont.woff') format('woff'),
         url('opensansregularitalic-webfont.ttf') format('truetype'),
         url('opensansregularitalic-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('opensanssemibold-webfont.eot');
    src: url('opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensanssemibold-webfont.woff2') format('woff2'),
         url('opensanssemibold-webfont.woff') format('woff'),
         url('opensanssemibold-webfont.ttf') format('truetype'),
         url('opensanssemibold-webfont.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_semibolditalic';
    src: url('opensanssemibolditalic-webfont.eot');
    src: url('opensanssemibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensanssemibolditalic-webfont.woff2') format('woff2'),
         url('opensanssemibolditalic-webfont.woff') format('woff'),
         url('opensanssemibolditalic-webfont.ttf') format('truetype'),
         url('opensanssemibolditalic-webfont.svg#open_sans_semibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}